@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #eeeeee;
	--foreground: #171717;
	--font-open-sans: "Open Sans", serif;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-open-sans);
	overflow-x: hidden;
}

video {
	object-fit: cover;
	top: 0;
	left: 0;
	position: fixed;
	z-index: -1;
	width: 100%;
}
